.productMovementsPage_container {
  background-color: white;
  width: 100%;
  height: 70vh;
  border-style: solid;
  border-width: 0.2px;
  border-color: #4472c4;
  overflow-y: scroll;
  margin: 1rem;
}

.productMovementsPage_fieldsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: solid;
  border-width: 0.2px;
  border-color: #4472c4;
  background-color: white;
  gap: 1rem;
}

.productMovementsPage_fieldsRow div {
  border-color: #4472c4;
}

.productMovementsPage__data,
.productMovementsPage__tableTd {
  text-align: left;
}
