.header {
  height: 3vh;
  background-color: #4472c4;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.header__userLoggedInitials {
  box-sizing: content-box;
  font-size: 2rem;
  border-style: solid;
  border-radius: 50%;
}

.header__menu {
  color: white;
}
