.header {
  height: 12vh;
  background-color: #4472c4;
  color: white;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header__logoCompany a {
  text-decoration: none;
  color: white;
}

.header__logoCompany a:hover {
  text-decoration: none;
  color: rgb(2, 2, 32);
}

.header__userLoggedInitials {
  background-color: #4472c4;
}

.header__menu {
  color: white;
}

.header__logocompany {
  background-color: #4472c4;
  color: white;
}
