.login {
  height: 36rem;
}

.login__title {
  color: black;
  font-size: 1.3rem;
  padding: 1.7rem;
}

.login__form {
  display: flex;
  align-content: space-between;
  position: relative;
  top: 15%;
  left: 40%;
  background-color: white;
  flex-direction: column;
  height: fit-content;
  width: 17rem;
  padding: 1rem;
  gap: 1rem;
}

.login__label {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: left;
  padding: 0.1rem;
  margin-bottom: 0.2rem;
}

.login__input {
  width: 95%;
  font-size: 0.8rem;
  color: black;
  padding: 0.2rem;
  text-align: left;
}

.login__button {
  width: 98%;
  background-color: #4472c4;
  font-size: 1rem;
  color: white;
  border-style: none;
  padding: 0.5rem;
}

.login__button:active {
  transform: scale(0.98);
}

.login__register {
  color: #4472c4;
  font-size: 0.8rem;
  text-decoration: underline;
  padding: 0.5rem;
}

.login__keepCheckbox {
  color: black;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: left;
}
